<section class="property-binding">
  <article>
    <h3>Interpolação</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado da soma 1 + 1 é: {{ 1 + 1 }}</p>
    <p>Resultado da soma 1 + 1 + valor é: {{ 1 + 1 + getValor() }}</p>
    <p>Curso de angular, gosto?: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>
  <article>
      <h3>Property binding</h3>
      <!-- as três aboradagens dão certo-->
      <!-- interpolação-->
      <img src="{{ urlImage }}" > <br>
      
      <!-- property binding [src] -> faz a mesma coisa que bind-src-->
      <img [src]="urlImage" > <br>
      <!-- binding explícito -->
      <img bind-src="urlImage" > 
  </article>

  <article>
    <h3>Class e Style Binding</h3>
    <div>Selecione uma classe
      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Erro</option>
      </select>
      <br><br>
      <!-- outra forma de fazer o class binding por interpolação-->
      <div class="{{ classe.value }}" role="alert">
        Texto colorido conforme combobox
      </div>

      <!-- Forma de fazer o display binding-->
      <div class="alert alert-danger" role="alert"
           [style.display]="classe.value == 'alert-danger' ? 'none' : 'none'" 
      >
        Esse texto aparece somente em caso de erro.
      </div>
      
      <!-- class binding [class]-->
      <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">
        Sucesso
      </div>
      <!-- <div class="alert alert-secondary" role="alert" class.alert-success]="classe.value == 'alert-success'">
        A simple secondary alert—check it out!
      </div> -->
      
      <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">
        Erro
      </div>
      <div class="alert alert-warning" role="alert">
        A simple warning alert—check it out!
      </div>
      <div class="alert alert-info" role="alert">
        A simple info alert—check it out!
      </div>
      <div class="alert alert-light" role="alert">
        A simple light alert—check it out!
      </div>
      <div class="alert alert-dark" role="alert">
        A simple dark alert—check it out!
      </div>
  </div>
  </article>

</section>
