<!-- DATA BINDING -->

<!--

<section class="property-binding">
  <article>
    <h3>Interpolação</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado da soma 1 + 1 é: {{ 1 + 1 }}</p>
    <p>Resultado da soma 1 + 1 + valor é: {{ 1 + 1 + getValor() }}</p>
    <p>Curso de angular, gosto?: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>
  <article>
      <h3>Property binding - 3 ABORDAGENS</h3>
      
      <h4>interpolação</h4>
      <img src="{{ urlImage }}" > <br>
      
      <h4>BINDINDG SRC</h4>
      <img [src]="urlImage" > <br>
      
      <h4>BINDINDG EXPLÍCITO</h4>
      <img bind-src="urlImage" > 
  </article>

  <article>
    <h3>Class e Style Binding</h3>
    <div>Selecione uma classe
      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Erro</option>
      </select>
      <br><br>
      
      <div class="{{ classe.value }}" role="alert">
        Texto colorido conforme combobox
      </div>

      <h4>VÁRIAS FORMAS DE BINDING CSS STYLE</h4>
      <div class="alert alert-danger" role="alert"
           [style.display]="classe.value == 'alert-danger' ? 'none' : 'none'" 
      >
        Esse texto aparece somente em caso de erro.
      </div>
      
      
      <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">
        Sucesso
      </div>
      
      
      <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">
        Erro
      </div>
      <div class="alert alert-warning" role="alert">
        A simple warning alert—check it out!
      </div>
      <div class="alert alert-info" role="alert">
        A simple info alert—check it out!
      </div>
      <div class="alert alert-light" role="alert">
        A simple light alert—check it out!
      </div>
      <div class="alert alert-dark" role="alert">
        A simple dark alert—check it out!
      </div>
  </div>
  </article>

</section>

-->
<article>
  <h3>Event binding</h3>
  <div>
    <button (click)="botaoClicado()" class="btn btn-primary">Me clique</button>
    <br>
    <input type="text" (keyup)="onkeyUp($event)">
  </div>
</article>